html {background-color:white;}

body {
    font-family: Calibri, sans-serif;
    color: #444;
    /*min-width: 40%;*/
}

.main {
    display: grid;
    border: 4px solid black;
    margin: 12%;
    padding: 8px 10px 6px;
}

.container {
    display: grid;
    text-align: center;
    position: relative;
    /*grid-template-columns: 1fr 1fr*/
}
.pic {
    grid-column: 1 / 3;
    grid-row: 1;
}


.name {
    position: absolute;
    bottom: 40px;
    left: 54px;
}

.education {
    grid-column: 1;
    grid-row: 2;
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: 8px;
}

.experience {
    grid-column: 2;
    grid-row: 2;
    border-top: 2px solid black;
    padding: 8px;
}

.row {
    grid-row: 1 / auto;
}

h1 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.399999618530273px;
    color: white;
}

h2 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 24px; font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.399999618530273px;

}

h3 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px; font-style: normal;
    font-variant: normal;
    color: gray(88);
}

h4 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px; font-style: normal;
    font-variant: normal;
    color: gray;
}
h5 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2vw; font-style: normal;
    font-variant: normal;
    color: orangered;
}

.skills {
    border-top: 2px solid black;
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 8px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px; /* note that vertical padding will be added to max-height */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.content > p {
    padding: 8px;
}

.skillContainer {
    width: 100%;
    background-color: #ddd;
}

.skill {
    text-align: right;
    padding: 8px 0;
    color: white;
}

.skillA {width: 87%; background-color: orangered;}

.skillB {width: 90%; background-color: orangered;}

.skillC {width: 86%; background-color: orangered;}

.skillD {width: 94%; background-color: orangered;}

@media (min-width: 320px) {
    .main {
        margin: 5%;
        padding: 4px 4px 2px;
    }

    h2{
        font-size: 18px;
    }
}